<div class="coming_soon">
	<div class="row">
		<h1>Hey There!</h1>
		<h2>Unfortunately, Greenir is not yet available in your area. If you'd like to provide us with your email and Zip, we'd love to reach out to you when we arrive!</h2>
	</div>
	<div class="fb-like" data-href="https://www.facebook.com/getgreenir" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
	</div>
</div>


<!-- Start of Facebook JS -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=132842093705&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of Facebook JS -->