<div class="thank_you">
	<div class="row">
		<h1>Thank You For Choosing Greenir!</h1>
		<h2>Let your friends, family, and colleagues know that they too can make the switch to renewable electricity by sharing our message on Facebook and Twitter</h2>
	</div>
	<div class="shares">
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://getgreenir.com/"><img src="<%= asset_path( 'fb_share.png' ) %>" target="_blank"></a>
		<a href="http://twitter.com/share?text=I+just+switched+to renewable+energy+and+you+can+to!+%23GetGreenir+%23RenewableEnergy&url=http://bit.ly/1uY97QS" target="_blank"><img src="<%= asset_path( 'twitter_share.png' ) %>"></a>
	</div>
</div>