<div class="thank_you" style="background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url(/assets/new_background-3a96e60cebf5eeab6b63380d4e86f6bd.png);
  background-repeat: no-repeat;
  background-position: center; background-size: cover;">
	<div class="row">
		<h1>Thank You For Choosing Greenir!</h1>
		<h2>Let your friends, family, and colleagues know that they too can make the switch to renewable electricity by sharing our message on Facebook and Twitter</h2>
	</div>
	<div class="shares">
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://getgreenir.com/"><img src="<%= asset_path( 'fb_share.png' ) %>" target="_blank"></a>
		<a href="http://twitter.com/share?text=I+just+switched+to renewable+energy+and+you+can+to!+%23GetGreenir+%23RenewableEnergy&url=http://bit.ly/1uY97QS" target="_blank"><img src="<%= asset_path( 'twitter_share.png' ) %>"></a>
	</div>
</div>