<div class="prelaunch">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Power Your Home With <u>100% Renewable Electricity</u></h1>
			<h2>Review your local green electricity options and switch to renewables with no installation required</h2>
			<h3 style="text-align:center; color:white;">(Coming Soon)</h3>
		</div>
		<div class="col-md-1"></div>
	</div>
		<div class='form-inline'>

			<%= form_for(@prelaunch) do |f| %>

				<div class="form-group">
	      			<%= f.text_field :email, :class => "form-control", placeholder: "Email", :autofocus =>true , :required => true %>
	  			</div>

	  			<div class="form-group zip">

	  				<%= f.text_field :zip, :class => "form-control", placeholder: "Zip Code", :required => true %>
	  			</div>

				<div class="form-group">	  
 					<%= f.submit "Send Me My Options", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
		

</div>

<div class="what_is_greenir">
    <div class='container'>
        <div class="col-md-7">
            <h1>What Is <span style="color: #4cae4c;">Greenir</span>?</h1>
            <h4>Greenir provides you with high-quality, vetted, and affordable renewable electricity packges that are available in your area. We don't supply you with energy, we help you compare and select a renewable energy option that fits your budget.<br><br>
            If you live in a deregulated market, you have the right to choose the energy supplier that powers your home. Instead of paying for dirty energy or investing in solar panels, why not pay a utility company to source your electricity from a renewable source?</h4>
        </div>
        <div class="col-md-5" style="margin-top: 20px;">

            <a href="/faq"><h3>Why Should I Switch?</h3></a>
            <a href="/faq"><h3>Which Package Should I Choose?</h3></a>
            <a href="/faq"><h3>Will I Save Money?</h3></a>
            <a href="/faq"><h3>Will My Billing Change?</h3></a>
            <a href="/faq"><h3>Are The Suppliers Reliable? Will My Power Go Out?</h3></a>

        </div>
    </div>
</div>
<!-- 
<div class="under_signup">
	<div class="row" style="margin-right:0">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>What Is <span style="color: #4cae4c;">Greenir</span>?</h1>
			<h2>Greenir is a marketplace for 100% renewable electricity packages for your home or apartment.<br><br>
            Whether you are a renter or home owner, if you live in a deregulated market, you have the right to choose the energy supplier that powers your home. <br><br>
            We believe that by partnering with the best renewable electricity suppliers in the country, we can provide our customers with the opportunity to invest in the future of renewable energy.</h2>
            <h3 id="see_more_faq"><a href="/faq">Need More Information? See Our Entire FAQ Page!</a></h3>
		</div>
		<div class="col-md-1"></div>
	</div>
</div> -->