<div class="prelaunch">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Stop Buying Dirty Energy. Power Your Home With<br><u>100% Renewable Electricity</u></h1>
			<h2>No installation required. No changes in service. No billing changes.</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
		<div class='form-inline'>

			<%= form_for(@prelaunch) do |f| %>

				<div class="form-group">
	      			<%= f.text_field :email, :class => "form-control", placeholder: "Email", :autofocus =>true %>
	  			</div>

	  			<div class="form-group zip">

	  				<%= f.text_field :zip, :class => "form-control", placeholder: "Zip Code" %>
	  			</div>

				<div class="form-group">	  
 					<%= f.submit "Send Me My Options", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>

</div>

<div class="under_signup">
	<div class="row" style="margin-right:0">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>What Is <span style="color: #4cae4c;">Greenir</span>?</h1>
			<h2>Greenir is a marketplace for 100% renewable electricity packages for your home or apartment.<br><br>
            Whether you are a renter or home owner, if you live in a deregulated market, you have the right to choose the energy supplier that powers your home. <br><br>
            We believe that by partnering with the best renewable electricity suppliers in the country, we can provide our customers with the opportunity to invest in the future of renewable energy.</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>