<div class="prelaunch">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Power Your Home or Apartment With<br><u>100% Renewable Electricity</u></h1>
			<h2>No installation required. No changes in service. Affordable prices.</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
		<div class='form-inline'>

			<%= form_for(@prelaunch) do |f| %>

				<div class="form-group">
	      			<%= f.text_field :email, :class => "form-control", placeholder: "Email", :autofocus =>true %>
	  			</div>

	  			<div class="form-group zip">

	  				<%= f.text_field :zip, :class => "form-control", placeholder: "Zip Code" %>
	  			</div>

				<div class="form-group">	  
 					<%= f.submit "Send Me My Options", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>

	<!-- <div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2>Greenir is the only marketplace for 100% renewable electricity for your home or apartment.	If you’re in one of the 24 deregulated energy markets in the US <span style="color: #5cb85c;">(Arizona, Arkansas, California, Connecticut, Delaware, Illinois, Maine, Maryland, Massachusetts, Michigan, Montana, Nevada, New Hampshire, New Jersey, New Mexico, New York, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, Texas, Virginia, and the District of Columbia)</span>, you have a choice when it comes to who provides you with your electricity. There are a lot of utility companies that offer electricity plans with different terms and price points, but we focus on the ones that offers electricity sourced from 100% renewable methods (solar, wind, hydro).</h2>
		</div>
		<div class="col-md-1"></div>
	</div> -->


	  
</div>