<div class="prelaunch" style="height: 100vh;">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Thanks for signing up! We'll reach out shortly with some more information about switching to renewable electricity!</h1>
		</div>
		<div class="col-md-1"></div>
		
	</div>

		<div class='follow_us'>
			<h2>Tell The World That You Can't Wait To Switch To Renewables!</h2><br>
			<a href="http://ctt.ec/UsIy1" target="_blank"><img src="<%= asset_path( 'twitter.png' ) %>"></a>
		</div>
		<h2 style="color: white;">Questions about switching? <a href="/faq">See our FAQ page for more details</a></h2>

</div>