<div class="prelaunch">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Thanks for signing up! We'll reach out shortly with some more information about switching to renewable electricity!</h1>
		</div>
		<div class="col-md-1"></div>
		
	</div>

		<div class='follow_us'>
			<h2>Tell the Twitterverse that you can't wait to switch to renewables energy!</h2><br>
			<a href="http://ctt.ec/UsIy1" target="_blank"><img src="<%= asset_path( 'twitter.png' ) %>"></a>
		</div>
		

</div>