<div class="prelaunch">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Thanks for signing up! We'll reach out when Greenir is available in your area!</h1>
		</div>
		<div class="col-md-1"></div>
		
	</div>

		<div class='follow_us'>
			<h2>Follow Us:</h2><br>
			<a href="https://www.facebook.com/getgreenir" target="_blank" class="footer-link"><img src="<%= asset_path( 'fb.png' ) %>"></a>
		  	<a href="https://twitter.com/Get_Greenir" target="_blank" class="footer-link"><img src="<%= asset_path( 'twitter.png' ) %>">
		</div>

</div>