<div class="prelaunch" style="background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url(/assets/new_background-3a96e60cebf5eeab6b63380d4e86f6bd.png);
  background-repeat: no-repeat;
  background-position: center; background-size: cover;">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Thanks for signing up! We'll reach out shortly with some more information about switching to renewable electricity!</h1>
		</div>
		<div class="col-md-1"></div>
		
	</div>

		<div class='follow_us'>
			<h2>Tell the Twitterverse that you can't wait to switch to renewables energy!</h2><br>
			<a href="http://ctt.ec/UsIy1" target="_blank"><img src="<%= asset_path( 'twitter.png' ) %>"></a>
		</div>
		

</div>