<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container faq_splash" style="background: url(<%= asset_path( 'field.jpg' ) %>) no-repeat fixed; ">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">FAQ</h1>
		         <a href="mailto:support@getgreenir.com?Subject=Greenir Question">
		         	<button  type="button" class="btn btn-success btn-lg">Ask Us A Question</button>
		     	</a>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->

<!-- FAQ Section -->
<div class="faqs">

	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
	  	<ul class="list-inline">
	  		<li><a href="#general">General</a></li></a>
	  		<li><a href="#switching">Switching</a></li>
	  		<li><a href="#billing">Billing</a></li>
	  	</ul>
	  </div>
	  <div class="col-md-3"></div>
	</div>

	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	  	<h1><a name="general" style="text-decoration: none;">General</a></h1>
	  	<div class="accordion">

			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What Is Greenir?</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse in">
					<div class="accordion-inner">Greenir is the only marketplace for 100% renewable electricity for your home or apartment.	If you’re in one of the [link to list of 24 states] 24 deregulated energy markets in the US, you have a choice when it comes to who provides you with your electricity. There are a lot of utility companies that offer electricity plans with different terms and price points, but we focus on the ones that offers electricity sourced from 100% renewable methods (solar, wind, hydro).</div>
				</div>
			</div>


			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Why Switch?</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">We believe that there is a HUGE  knowledge gap in that most people don't know that they have a choice when it comes to their electricity supplier, and even fewer know that there are renewable energy options out there! We are hoping to bridge that gap and provide our customers with the opportunity to decrease their carbon footprints and invest in the future of renewable energy.</div>
				</div>
			</div>


			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">Hmm, This Sounds Pretty Sweet! Why Are You Guys Doing This?</a>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">Glad you think so! There are a couple of reasons why we wanted to start Greenir. Like many others, we are concerned about the environment, our reliability on “dirty” methods of energy production, and are excited that we are truly at the point in time when supplying your home with renewable electricity is easy and affordable! We also think that there is a HUGE gap information regarding your ability to choose an energy supplier. We believe that if more people knew that they could switch to 100% green electricity, that we’d see a sharp increase in renewable electricity demand and, in result, further investment into renewable technology and R&D.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">What Are You Guys Getting Out Of This?</a>
				</div>
				<div id="collapseFour" class="accordion-body collapse">
					<div class="accordion-inner">We are pretty straightforward about our business model and revenue stream. We take a commission on every new customer we bring to our utility partners. <b>This commission is paid by the utility company, not the consumer and all prices you see from Greenir are the same prices our utility partners provide to the public directly.</b></div>
				</div>
			</div>

			<hr>

			<h1><a name="switching" style="text-decoration: none;">Switching Electricity Providers</a></h1>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">How Do I Know If I Am Eligable To Switch Plans?</a>
				</div>
				<div id="collapseFive" class="accordion-body collapse">
					<div class="accordion-inner">In deregulated markets, if you currently pay your utility company directly (vs. paying your building or a landlord), you have the right to select your electricity providers –it’s that simple!</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion13" href="#collapseThirteen">Fixed vs. Variable Packages</a>
				</div>
				<div id="collapseThirteen" class="accordion-body collapse">
					<div class="accordion-inner">Electricity providers generally offer both fixed and varaible packages. Fixed rates means that your cost will not change for the duration of your contract, while variable rate packages generally fluctuate in price based on demand and use. Generally, we suggest that if you are a home or apartment renter, that you choose a variable package, but if you own your home or apartment, you should consider some fixed rate packages as they make it easier to plan your budget.</div>
				</div>
			</div>


			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion14" href="#collapseFourteen">How Should I Choose A Package?</a>
				</div>
				<div id="collapseFourteen" class="accordion-body collapse">
					<div class="accordion-inner">All of our utility partners have been vetted for reliability and dedication to green energy. Honestly, they are all good options! In terms of deciding which utility/package you want to go with, we suggest selecting a package that fits within your budget (obviously), but also read a little bit about the specific package you're considering as well as the utility itself - all of which can be done after you enter your zip code.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix">So How Do I Know These Green Energy Guys Are Reliable? What If My Power Goes Out?</a>
				</div>
				<div id="collapseSix" class="accordion-body collapse">
					<div class="accordion-inner">Regardless of which utility company your choose, your electricity will continue to be delivered to your home or apartment by the same local company who currently owns and maintains the electricity lines. If there is a power outage, your electricity will return at the same time as your neighbor’s who may not be a Greenir customer. What you are choosing from Greenir is the supplier of the electricity, not the delivery method, <b>so there should be no concerns about potential blackouts</b></div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven">Well, I’m Convinced! What Happens Once I've Made The Switch To Green Energy?</a>
				</div>
				<div id="collapseSeven" class="accordion-body collapse">
					<div class="accordion-inner">In terms of your day to day, not much is going to change. Your new supplier will reach out to you (each supplier has their own switching process) and they will set up your new billing process. Your new supplier will cancel your existing service for you. Switching suppliers does not take any activity on your end besides paying the bill, but will take a little time (usually a couple of weeks) before taking into effect as your new supplier will work with your electricity delivery provider to make sure everything is in order. After that, you’ll receive your bill from your new supplier and know that the electricity you are using has come directly from a renewable energy source.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight">Why Are There No Green Energy Options In My Area?</a>
				</div>
				<div id="collapseEight" class="accordion-body collapse">
					<div class="accordion-inner">For right now, Greenir is only operating in New York. As we continue to grow as a company and increase our utility partner network, we will expand into the other deregulated electricity markets. If you’d like to be notified when we come to your area, feel free to <a href=”#”>join our email list</a></div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapseNine">Will I Save Money?</a>
				</div>
				<div id="collapseNine" class="accordion-body collapse">
					<div class="accordion-inner">It's definitely possible, but we can't guarantee it. Just like your current electricity rates (if you're on a variable plan), prices change regularly. That being said, we aim to provide our customers with a variety of green energy packages that range in price. We've found that many of the packages that we offer hover around the same price as your state's default electricity provider, with the added benefit of being green!</div>
				</div>
			</div>

		<hr>

		<h1><a name="billing" style="text-decoration: none;">Billing</a></h1>


			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10" href="#collapseTen">How Will I Be Billed?</a>
				</div>
				<div id="collapseTen" class="accordion-body collapse">
					<div class="accordion-inner">You will be billed by your new energy provider. Your new supplier will you through the straightfoward onboarding process and you'll be able to set up your account and billing preferences - electonic or paper bills.</div>
				</div>
			</div>


			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11" href="#collapseEleven">When Will I receive My First Bill?</a>
				</div>
				<div id="collapseEleven" class="accordion-body collapse">
					<div class="accordion-inner">You will receive your first bill between 2 and 6 weeks after initiating your service. Service change is not immediate, and can sometimes take up to 30 days for your Greenir service provider to officially begin.</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseTwelve">Who Should I Contact If I Have A Problem With My Service Or My Bills?</a>
				</div>
				<div id="collapseTwelve" class="accordion-body collapse">
					<div class="accordion-inner">Your utility provider will probably be more helpful for any sort of imminent issues, but if you have a tough time reaching them (or just to drop us a line), feel free to <a href="mailto:support@getgreenir.com?Subject=Greenir%20Help" target="_blank">contact us</a> at any time!</div>
				</div>
			</div>

		</div>
	  </div>
	  <div class="col-md-2"></div>

		
</div>


<!-- End FAQ Section -->


