// Place all the styles related to the electric_packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prelaunch {
	background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), image-url('new_background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding-bottom: 200px;
}