body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Asap', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-weight: 300;*/
}

/* Star Prelaunch Styling */

.prelaunch {
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url(/assets/new_background-3a96e60cebf5eeab6b63380d4e86f6bd.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
}

.prelaunch h1 {
  color: white;
  padding-top: 150px;
  text-align: center;
  font-size: 55px;
}

.prelaunch h2 {
  color: white;
  text-align: center;
  font-size: 23px;
}

.prelaunch .row {
  margin-right: 0;
}

.prelaunch input {
  font-size: 30px;
  height: auto;
  text-align: center;
  background-color: 
}

.prelaunch .btn-success {
  background-color: #4fad21;
}

.prelaunch .form-inline {
  text-align: center;
  padding-top: 30px;
}

.prelaunch .follow_us {
  color: rgb(255, 232, 14);
  text-align: center;
  /*padding-top: 60px;*/
}

.prelaunch .follow_us h2 {
  font-size: 34px;
  text-decoration: underline;
}

.prelaunch .follow_us img {
  height: 100px;
  margin: auto;
}

.prelaunch_faq {
  /*background-image: url(/assets/prelaunch_faq_background.png);*/
  text-align: center;
  margin-bottom: 40px;
}

.prelaunch_faq h1 {
  margin-top:0;
  color: #4fad21;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.prelaunch_faq h2 {
  font-size: 30px;
}

.prelaunch_how_it_works {
  background-color: #428bca;
}

.prelaunch_how_it_works .second_section {
  margin-bottom: 0;
}

.prelaunch_how_it_works h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.prelaunch_how_it_works h2 {
  font-size: 25px;
  color: white;
  text-align: center;

}

.prelaunch_how_it_works .how_it_works {
  font-size: 50px;
}

.prelaunch_how_it_works .pitch_tagline {
  font-size: 18px;
}

.prelaunch_how_it_works img {
  width: 241px;
  height: 241px;
  border: 16px solid #4d96d5;
}

.prelaunch_third_section {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}
.prelaunch_footer {
  background-color: #2d2d2d;
  color: white;
  padding-top: 10px;
  margin-top: 40px;
  padding-bottom: 10px;
}

.prelaunch_footer h4 {
  margin-bottom: 0;
  padding-right: 60px;
  text-align:right;
}

.prelaunch_footer .logo {
  margin-bottom: 0;
}
.prelaunch_footer .social {
  height: 60px;
}


.prelaunch_thanks {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/wind_turbine-9c000cc789f963f73302a0b24de9f46c.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  /*padding-bottom: 170px;*/
}


/* End Prelaunch Styling */





.main_container {
  padding-top: 6em;
}
.big_text {
  font-size: 2em;
}
/* Navigation Styling Starts */
.custom {
  border: 0;
}
.custom .nav {
  margin-right: 20px;
}
.custom .navbar-nav>li>a {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.custom .nav li a:hover {
  color: #5cb85c;
  background-color: transparent;
}

.custom .navbar-brand {
  color: white;
  padding: 0;
  font-size: 20px;

}

.custom .navbar-brand:hover {
  color: #5cb85c;
  background-color: transparent;
}

.navbar {
  height: 5em;
  background-color: transparent;
  padding-bottom: 80px;
}

.logo {
  height: 90px;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.what_is_greenir {
  margin-bottom: 30px;
}

/*@media only screen and (max-device-width: 480px) {
  #fchat {
    visibility: hidden;
  }
}*/

/* Navigation Styling Ends */

/**************HOME PAGE*****************/
/* Start Intro Section */

.action_box {
  /*background-color: rgba(8,8,8,0.5);*/
  border-radius: 6px;
  height: 100%;
  margin-top: 20px;
}
.intro-header {
    margin-top: 80px;
    padding-bottom: 5em;
    text-align: center;
    color: #f8f8f8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-message {
  font-size: 4.5em;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  word-spacing: 5px;
}


.splash_form {
  margin: .5em 0;
}

#splash_input {
	height: 60px;
	width: 10em;
	font-size: 35px;
  border: 0;
  border-radius: 2px;
  color: #333;
  text-align: center;
}

.zip_submit {
    font-size: 33px;
    height: 60px;
}


/* End Intro section */

/* Start Second/Third Section */
.second_section, .third_section {
  text-align: center;
}

.second_section {
  color: white;
  background-color: rgb(66, 139, 202);
  margin-bottom: 30px;
}

.how_it_works, .concerns_title {
  font-size: 4em;
  margin-top: 0.5em;
  word-spacing: 9px;
  letter-spacing: 1px;
}

#pitches, #concerns_1, #concerns_2 {
  /*margin: 5em 0;*/
}
.pitch_point {
  padding: 2em 0;
  margin: 1em 0;
}
.pitch_tagline {
  font-size: 1.8em;
  letter-spacing: 0.5px;
  margin-top: 1em;
}
.pitch_icon img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}


.third_section {
  padding-bottom: 40px;
}
.third_section hr {
  margin: 0;
}

.third_section .col-md-6 {
  text-align: center;
}

.third_section .row {
  margin-right: 0;
}

.third_section h2 {
  /*color: #5cb85c;*/
  text-align: left;
  padding-left: 130px;
  font-size: 30px;
}

.third_section #see_more_faq a {
  color: #428bca;
  text-align: center;
  font-size: 30px;
}

.third_section #see_more_faq h3 {
  text-align: center;

}

.third_section #see_more_faq a:hover {
  color: #449d44;
  text-decoration: none;
}

.third_section a {
  color: #5cb85c;
}

.third_section a:hover {
  color: #449d44;
  text-decoration: none;
}

.third_section h1 {
  text-align: left;
  padding-left: 130px;
  font-size: 30px;
}

.fa-10x {
  font-size: 10em;
}

.concern_tagline {
  height: 2em;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 2em;
}

.concern_icon {
  display: inline-block;
  margin-bottom: 2em;
}

/* Start Footer */

#social:hover {
          -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }

/* End Footer */


/* End Second/Third Section*/

/****************ALL Electric Packages ***************/

/*sidebar*/
.sidebar {
  background-color: #ccc;
  position: fixed;
  width: 23.3%;
  height: 80%;
  z-index: 1;
}
.sidebar_title {
  text-align: center;
  font-size: 1.3em;
  color: white;
  font-weight: 500;
}
.sidebar_section {
  padding: 1em;
  border-bottom: 1px solid white;
  min-height: 8em;
  color: #777;
}
.sidebar_items {
  margin-top: 1em;
}
.sidebar_item {
  width: 45%;
  text-align: right;
  display: inline-block;
}
.quad_group {
  display: inline-block;
  text-align: center;
}


/*end sidebar*/
.electric_packages_big_right {
  display: inline-block;
  position: absolute;
  height: 80%;
  width: 73%;
  overflow: scroll;
  top: 6em;
}
.electric_packages_big_right, .electric_packages {
  /*background-color: #eee;*/
}
.electric_packages {
  /*background-color: green;*/
  padding: 1em;
/*  position: fixed;
  width: 73%;
  overflow: scroll;
  height: 100%;*/
}
.electric_package {
  /*background-color: blue;*/
  border: 1px solid black;
  margin-top: 5px;
  height: 10em;
  padding: 1em;
}
.electric_package_name {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.electric_package_price {
  font-size: 2.1em;
  margin-top: 10px;
}

.units {
  font-size: 0.3em;
}
.electric_package_actions {
  margin-top: 1em;
}
.electric_package_top {
  min-height: 12em;
}
.energy_badge {
  width: 30%;
  display: inline-block;
}


/* Start Electric Packages Index */
section {
    padding: 100px 0;

}

.alizarin {
    background: #5cb85c;
}

.amethyst {
    background: #9b59b6;
}

.emerald {
    background: #2ecc71;
}

.midnight-blue {
    background: #428bca;
    color: white;
}

.peter-river {
    background: #3498db;
}

#labels .intro {
  background-color: #BBBABA;
  color: white;
  padding: 18px 18px 18px 18px;
  border-radius: 5px;
  text-align: center;

}

#labels .current_price {
  float: right;
  display: inline-block;
  font-size: 20px;
  padding-top: 13px;

}

#labels .price {
  color: #5cb85c;
  text-decoration: underline;
}

#labels .intro a {
  font-size: 18px;
}

#labels hr {
  margin-top: 40px;
}

.dl {
    /*background: #f0f0f0;*/
    padding: 0px 0;
    /*border-radius: 20px;*/
    position: relative;
    border: 1px solid black;
    margin-bottom: 30px;
}

.dl:before {
    /*content: " ";*/
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -10px;
}
    
.dl .brand {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 100px; 
}

.dl .discount {
    min-height: 50px;
    position: relative;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;

    padding: 20px 15px 0;
    color: white;
}

.dl:hover {
  -moz-box-shadow: 0 0 30px #5cb85c; 
  -webkit-box-shadow: 0 0 30px #5cb85c; 
  box-shadow: 0 0 30px #5cb85c;
  cursor: pointer; cursor: hand;
}
.kwh {
  font-size: 20px;
}
.dl .discount:after {
    content: " ";
    
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 20%;
}

.dl .discount.alizarin:after {
    border-top: 20px solid #5cb85c;
}

.dl .discount.peter-river:after {
    border-top: 20px solid #3498db;
}

.dl .discount.emerald:after {
    border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
    border-top: 20px solid #9b59b6;
}

.dl .discount .type {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -30px;
}

.dl .descr {
    color: #999;
    margin-top: 10px;
    padding: 20px 15px; 
    font-size: 16px;
}
 
.dl .ends {
    padding: 0 15px;
    color: #f1c40f;
    margin-bottom: 10px;
}

.dl .coupon {
    min-height: 50px;
    text-align: center;
/*    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 15px;
}

.dl .coupon a.open-code {
    color: #16a085;
}

.dl a:hover {
  text-decoration: none;
}

.dl .coupon:hover {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.dl .coupon .code {
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    color: #f1c40f;
    background: #f0f0f0;
}

.modal {
  margin-top: 10%;
}

.modal .modal-header {
  font-size: 18px;
}

/*End Electric Packages Index*/


/************FAQ ************/
.faq_heading {
  font-size: 3em;
  letter-spacing: 10px;
  display: inline-block;
}
.faq_splash {
  background-position-y: -220px; 
  letter-spacing: 3px;
}

.faq_subheading {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 0.7em;
}
.faqs {
  /*margin-bottom: 5em;*/
  /*letter-spacing: 0.5px;*/
}

.faqs .row {
  margin-right: 0
}
.faq {
  margin-top: 2em;
}
.faq_title {
  font-size: 1.7em;
}
.faq_answer {
  margin-left: 2em;
  display: none;
}
.faq_paragraph {
  display: inline-block;
  width: 50em;
  margin-top: 0.3em;
}
.faq_image {
  display: inline-block;
  vertical-align: top;
}

/* Start Footer */

.footer {h
 left:0px;
 bottom:0px;
 height:70px;
 width:100%;
 background:#999;
  background-color: #eee;
  bottom: 0;
  clear: both;
  /*position: relative;*/
  /*margin-top: -3em;*/
  width: 100%;
  padding: 10px;

}

.footer_links {
  display: inline-block;
  margin: 0.3em;
  float: right;
}

.footer img {
  height: 50px;
  width: 50px;
}

/* End Footer */

/*MEDIA QUERIES*/
@media(max-width: 600px) {
  /* Intro Section */
  .intro-message {
    font-size: 2em;
  }
  #splash_input {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .sidebar {
    position: relative;
    width: 100%;
  }
  .electric_packages_big_right {
    position: relative;
    width: initial;
    top: inherit;
  }

}


/* Begin FAQ Page Styling */

.faq_title {
  margin-top: 20px;
  font-size: 4em;
}

.faq_header .intro-header {
   /*padding-bottom: 50px;*/
}

.faqs {
  /*padding: 0 20px 20px 20px;*/
}

.faqs ul {
  text-align: center;
  display: table;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.faqs li {
  display: table-cell;
  font-size: 30px;
}

.faqs li a {
  color: #5cb85c;
  padding-left: 45px;
}

.faqs .col-md-6 {
  padding-right: 57px;
}

.faqs .heading {
  font-size: 25px;
  color: grey;
}

.faqs h1 a {
  text-decoration: none;
  color: black;
}

.faqs .accordion-toggle {
  font-size: 25px;
  color: grey;
}

.faqs .accordion-toggle:hover {
  color: green;
  text-decoration: none;
}

.faqs .accordion-body {
  margin-bottom: 20px;
  font-size: 18px;
}



/* End FAQ Page Styling */


/* Start Checkout Page Styling */


.checkout_intro {
  color: black;
  text-align: center;
  margin-top: 100px;
}
.checkout .table {
  margin-top: 20px;
  width: 100%;
}

.checkout .row {
  margin-right: 0;
}

.checkout .your_selection {
  font-size: 18px;
}

.checkout .your_selection a:hover {
  color: #449d44;
  text-decoration: none;
}

.user_submit {
  width: 100%;
  font-size: 25px;
  background-color: 
}

.sign_up_form label {
  font-size: 18px;
}

.sign_up_form .row {
  margin-right: 0;
}

.sign_up_form p {
  font-size: 12px;
}

/* End Checkout Page Styling */

/* Start Thank You Page Styling */

.thank_you {
  margin-top: 100px;
}

.thank_you h1 {
  text-align: center;
  color: #5cb85c;
}

.thank_you h2 {
  text-align: center;
  margin: 0 40px 0 40px;
}

.thank_you .shares {
  text-align: center;
  margin-top: 40px;
}

.thank_you .shares img {
  margin-right: 10px;
  margin-left: 10px;
}



/* End Thank Your Page Styling */

/* Start Coming Soon page styling */

.coming_soon {
  margin-top: 100px;
}

.coming_soon .row {
  margin-right: 0;
}

.coming_soon h1 {
  text-align: center;
  color: #5cb85c;
}

.coming_soon h2 {
  text-align: center;
  /*margin: 0 40px 0 40px;*/
}

.coming_soon .shares {
  text-align: center;
  margin-top: 40px;
}


.coming_soon input {
  height: 45px;
  width: 10em;
  font-size: 25px;
  /*border: 0;*/
  border-radius: 2px;
  color: #333;
  text-align: center;
}

.coming_soon .btn-success {
  color: white;
  vertical-align: middle;
}

.coming_soon .form-inline {
  text-align: center;
}


/* End Coming Soon page styling*/








