<!--  <div class="footer">
  <a href="#" class="footer-link"><img src="<%= asset_path( 'fb.png' ) %>"></a>
  <a href="#" class="footer-link"><img src="<%= asset_path( 'twitter.png' ) %>"></a>
  <a href="#" class="footer-link"><img src="<%= asset_path( 'linkedin.png' ) %>"></a>
</div>
 -->