 <div class="footer">
  <a href="https://www.facebook.com/getgreenir" target="_blank" class="footer-link"><img src="<%= asset_path( 'fb.png' ) %>"></a>
  <a href="https://twitter.com/Get_Greenir" target="_blank" class="footer-link"><img src="<%= asset_path( 'twitter.png' ) %>"></a>
  <!-- <a href="#" class="footer-link"><img src="<%= asset_path( 'linkedin.png' ) %>"></a> -->
</div>
